    <div class="sweepSchProgressText center-text">
      <h2>Services</h2>
      <div class="sweepSchUnderline"></div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9">Sweeping</h4>
        </div>
      </div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9">Snow Plowing</h4>
        </div>
      </div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9">Sanding/Deicing</h4>
        </div>
      </div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9">Lot Striping</h4>
        </div>
      </div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9">Power Washing</h4>
        </div>
      </div>
      <div class="row">
        <div class="glyph-check">
          <span class="glyphicon glyphicon-ok col-sm-1 col-sm-offset-1"></span><h4 class="col-sm-9">Asphalt Maintence and Repair</h4>
        </div>
      </div>

    </div>

