<div class="blue-bar margin-bottom">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="font-center"> About Us </h4>
    </div>
  </div>
</div>
<div id="about-text">
  <strong><em>Here</em> at Sweep-A-Lot, we realize that your customers and employees are an
    integral and imprtant part of your company.</strong> </br>
  </br>
  <em>Keeping</em> a clean and save environment for them not only presents a good company image,
  but better work surroundings
  We can Help you achieve this through clean parking lots, work areas, and also hazard free winter environments.
  Present your company as it should be, clean and save!
  We can help!
</div>
<div class="row">
  <div class="col-sm-4">
    <ul class="sweep-list"><strong>We provide:</strong> 
        <li class="indent">sweeping</li>
        <li class="indent">snow removal and sanding</li> 
        <li class="indent">striping</li>
        <li class="indent">asphalt maintence and repair</li>
        <li class="indent">power washing</li>
    </ul>
  </div>
  <div class="col-sm-8">
    <%= image_tag "clean-lot.jpg", class: "clean-photo" %>
  </div>
</div>
