<!--  <strong><em>Here</em> at Sweep-A-Lot, we realize that your customers and employees are an
    integral and imprtant part of your company.</strong> </br>
  </br> -->
<div id="about-text">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <em></em> 
      <h4 class="sweepSchProgressText"><em></em>Sweep-A-Lot Is a street sweeping, snowplowing, all around parking lot maintenance company. We serve the entire Denver Metro Area. 
        As well as Boulder and Ft Collins.</br><em></em> Our website provides a way to schedule a truck online. Just <%= link_to "sign up,", new_user_registration_path %> and you are on your way.
        When it comes to roadway and parking lot maintenance, Sweep-A-Lot can provide the services you need.
      </h4>
    </div>
    <div class="col-sm-4">
      <%= image_tag "clean-lot.jpg", class: "clean-photo" %>
    </div>
  </div>
</div>
<legend></legend>
<div>


  <!-- Keeping a clean and save environment for them not only presents a good company image,
  but better work surroundings
  We can Help you achieve this through clean parking lots, work areas, and also hazard free winter environments.
  Present your company as it should be, clean and save!
  We can help! -->
</div>
<%= render "static_pages/about_data_row" %>
