<div class=row">
  <div class=col-sm-12">
    <% @reservations.each do |res| %>
      <div class="row">
        <%= res.start_time %>
        To: <%= res.end_time %>
      </div>
    <% end %>
  </div>
</div>
