<div id="search">
  <%= form_tag new_user_reservation_path(current_user), method: :get, remote: true  do %>
    <div style="color:red">
      Search by name, or description</br>
      <%= text_field_tag :date_search, params[:date_search], data: {provide: "datepicker"} %>
      <%= submit_tag "Search", :name => nil %>
    </div>
  <% end %>
</div> 
