<div>
  <%= render "reservations/form" %>
</div>
<div>
  <%= render "reservations/reservation_search" %>
</div>
<div class= "reservations">
  <div class="table-container">
    <%= render "reservations/calendar" %>
  </div>
</div>
