<div>
  <%= render "reservations/form" %>
</div>
<div>
  <%= render "addresses/form" %>
</div>
<div>
  <%= render "reservations/reservation_search" %>
</div>
<div class="table-container">
  <div class= "reservations">
    <div class='date-bar' style='margin-top:0px'>
      <h4 class='font-center'>
        Today
      </h4>
    </div>
    <%= render "reservations/calendar" %>
  </div>
</div>
