 v = $('#pick-bar').val();
 d = new Date(v.toString());
 c = d.toDateString();
 $('.reservations').html("<div class='blue-bar' style='margin-top:0px'><h4 class='font-center'>" + c + "</h4></div>" + '<%= j(render 'reservations/calendar', locals: {reservations: @reservations} ) %>');
cosole.log("<%= @reservations %>");
