.table {
  background-color: #BBFABE;
  margin: 2px;
  
  .yel {
    background-color: #FAFAAF;
  }

  .type {

    &.type-bid {
      background-color: #FAEE69;
    }

    &.type-sweep {
      background-color: #FAA78C;
    }
  }
}

.reserved {
  background-color: red;
}
