.sweep-list{

}

.indent {
   margin-left:35px; 
}

#about-text {

  em {
    margin-left: 20px;
  }
}

.center-text {
  text-align: center;
}

.add-margin-20 {
  margin: 20px;
}

.home-text {
  size: -50%;
}

.home-image {
  margin-top: 35px;

}
