.head-container {
  height: 330px;
  width: 100%;
  overflow: hidden;
  position: relative;
  width: 110%;

  .headbar-image-right {
    z-index: 0;
    position: absolute;
    min-height: 326px;
    width: 130%;
    opacity: 0.5;
  }
}

.headbar-image-left {
  z-index: 0;
  position: absolute;
  right: 52.5%;
  min-height: 326px;
  opacity: 0.3;
}


.indent {
   margin-left:35px; 
}

#about-text {

  em {
    margin-left: 20px;
  }
}

.center-text {
  text-align: center;
}

.add-margin-20 {
  margin: 20px;
}

.home-text {
  size: -50%;
}

.home-image {
  margin-top: 35px;

}

.padd-right-12pr {
  padding-right: 12%;
}

.padd-right-1pr {
  padding-right: 4%;
}

.black-font {
  color: black;
}

.head-data-container {
  position: relative;
  left: 3%;
}
