.navbar-brand {
  border-right: 2px solid grey;
  background-color: #80CCFF;
  a:hover{background-color: red;}
}

p.style-text {
  color: black;
}

.navbar-collapse .over {
  position: relative;
  left: 400px;
}

.stripes-banner {
  width: 100%;
}

.sweepSchHeader{
  background-color: red;
  height: 60px;
}


//just leaving this here until i figure out how to get rid of padding added by bootstrap******************************
.navbar-collapse{
	padding-left: 0 !important;
}

