#main-container {  
  .side-container {
    background-color: #D4F1FA;
    min-height: 375px;
    padding: 10px;

    .side {
      .side-head {
        margin: 1px;
        color: red;
      }

      .side-main {
        min-height: 300px;

        .day-schedule {
          margin: 10px;
        }
      }
    }
  }

  #main-content {
    background-color: #f8f8f8;
    min-height: 375px;
    padding: 0 15px;
  }
}

.sweepSchGetStarted, .sweepSchProgressText{
  font-family: 'Oxygen', sans-serif;
  color: #676868;
  //font-size: 20px;
}

.sweepSchGetStarted{
  text-align: center;
}
.sweepSchSteps{
  display: block;
  margin: 20px 0;
}

.sweepSchProgressText{
  vertical-align: top;
  font-size: 30px;
  padding-top: 3px;
  padding-left: 10px;
}

.sweepSchUnderline{
  height: 1px;
  background-color: #676868;
}

