#main-container {
  margin: 20px;
  padding: 10px;
  margin-left: 50px;
  
  .side-container {
    background-color: #D4F1FA;
    min-height: 375px;
    padding: 10px;

    .side {

      .side-head {
        margin: 1px;
        color: red;
      }

      .side-main {
        min-height: 300px;
      }

      .side-foot {

      }
    }

  }

  #main-content {
    background-color: #E7E7E7;
    min-height: 375px;
    padding: 10px;
  }

}
