
.li-image {
  width: 120px;
  height: 100px;
}

.truck-list {
  margin-top: 20px;
}

.blue-bar {
  //padding: 5px;
  background-color: #80CCFF;
  height: 150px;
  border: 1px solid #e7e7e7;
}

.blue-btn {

  .btn-primary {
    background-color: #80CCFF;
    color: black;
  }

}

.margin-bottom {
  margin-bottom: 35px;
}

.clean-photo {
  margin: 10px;
}


.home-form {
  border: 2px solid grey;
  padding: 15px;
  margin: 15px;
  margin-left: 0px;
}

.home-image {
  margin: 15px;
  margin-left: -15;
}
