
.li-image {
  width: 120px;
  height: 100px;
}

.truck-list {
  margin-top: 20px;
}

.blue-bar {
  margin-top: 30px;
  padding: 5px;
  background-color: #80CCFF;
  border: 1px solid black;


  .font-center {
    text-align: center;
  }

  .blue-bar-btn {
    margin: 3px;

    .btn-primary {
      background-color: #0F58F5;
    }
  }
}

.blue-btn {

  .btn-primary {
    background-color: #80CCFF;
    color: black;
  }

}

.margin-bottom {
  margin-bottom: 35px;
}

.clean-photo {
  margin: 10px;
}


.home-form {
  border: 2px solid grey;
  padding: 15px;
  margin: 15px;
  margin-left: 0px;
}

.home-image {
  margin: 15px;
  margin-left: -15;
}
