hr {
  size: 8;
  background-color: #572CF2;
  width: 75%;
}

.center-text {
  text-align: center;
}

.reservation-form {
  border: 4px inset #CCC8CC;
  background-color: #B6FAD4;
  margin-right: -35px;
  padding: 8px;
}

